@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .align-elements{
    @apply mx-auto max-w-7xl px-8
  }
}

.footer-bg {
  background-color: #EEFB7D;
  color:black
}

.menu-hover {
  color:#323232;
}

.menu-hover:hover {
  color: #F2A7FA;
}

.social-bg {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
}

.pink {
  background-color: #F2A7FA;
}

.blue {
  background-color: #CBD4FB;
}

.yellow {
  background-color: #EEFB7D;
}

.items {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.vh {
  height: 60vh;
} 

.button {
  background-color: #EEFB7D;
  padding: 15px 40px;
}

.yellow-bg {
  background-color: #EEFB7D;
}
.blue-bg {
  background-color: #CBD4FB;
}

.pink {
  color: #F2A7FA;
}

.logo-color  {
  color: #CBD4FB;
}

.yellow {
  color: #EEFB7D;
}

.black {
  color:#323232;
}

.text {
  line-height: 26px;
}
